.loader {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 255, 0, 0.3);

  .box {
    width: 75px;
    height: 75px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--green);
    font-weight: 600;
    color: var(--dark);
    line-height: 1.2;
    will-change: transform;

    background-color: pink;
  }
}
