.title {
  min-width: 8rem;
}

.title h2 {
  margin-top: 0px;
}

#right-title-draw,
#left-title-draw {
  max-width: 60px;
  margin: 0.5rem;
}

@media (max-width: 1080px) {
  #right-title-draw,
  #left-title-draw {
    max-height: 76px;
  }
}
