.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  p {
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
    margin: 20px;
  }
}
